@import "../../assets/styles/vars.gcss";

.city_wrap {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 5rem color(var(--c_main) alpha(25%));
  height: calc(400rem/var(--f_size));;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  font-size: calc(14rem/var(--f_size));
  background-repeat: no-repeat;

  & :global(.google_img) {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 2000px color(var(--c_main) alpha(30%));

    & img {
      display: block;
      width: 100%;
      object-fit: fill;
    }
  }
}
